/*MEDIA QUERYS*/

@media (min-width:661px) and (max-width:980px){
    /*HEADER*/

    header .container{
        height: auto;
        align-items:center;
        flex-direction: column;
        justify-content: center;
    }


    header .logo{
        width: 100%;
        padding: 40px 0px;
    }
    header .logo img{
        width:120px;
    }


    header nav{
        width: 100%;
    }
    header nav ul{
        width: 100%;
        flex-direction: column;
    }
    header nav ul li a{
        padding: 30px 0px;
        width: 100%;
        justify-content: center;
    }




    /*SOBRE*/

    .sobre .sobre-content{
        grid-template-columns: 1fr;
    }




    /*PROJETOS*/
    .projetos .projetos-area{
        height: auto;
    }

    .projetos .slide-content{
        grid-template-columns: 1fr;
        margin: 30px 0px;
    }

    .projetos .slide-content-left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .projetos .slide-content-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projetos .slide-content-right .detalhes-tec{
        justify-content: center;
    }


    .projetos .slide-1{
        background: url(../images/projetos/bg-optica-grande.jpg);
        background-size: cover;
        background-position: center center; 
    }
}









@media (min-width:551px) and (max-width:660px){
    /*HEADER*/

    header .container{
        height: auto;
        align-items:center;
        flex-direction: column;
        justify-content: center;
    }


    header .logo{
        width: 100%;
        padding: 40px 0px;
    }
    header .logo img{
        width:120px;
    }


    header nav{
        width: 100%;
    }
    header nav ul{
        width: 100%;
        flex-direction: column;
    }
    header nav ul li a{
        padding: 30px 0px;
        width: 100%;
        justify-content: center;
    }




    /*SOBRE*/

    .sobre .sobre-content{
        grid-template-columns: 1fr;
        width: 100%;
    }




    /*PROJETOS*/
    .projetos .projetos-area{
        height: auto;
        padding: 0px;
    }

    .projetos .slide-content{
        grid-template-columns: 1fr;
        margin: 30px 0px;
    }

    .projetos .slide-content-left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .projetos .slide-content-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projetos .slide-content-right .detalhes-tec{
        justify-content: center;
    }


    .projetos .slide-1{
        background: url(../images/projetos/bg-optica-grande.jpg);
        background-size: cover;
        background-position: center center; 
    }
}









@media (max-width:550px){
    /*HEADER*/

    header .container{
        height: auto;
        align-items:center;
        flex-direction: column;
        justify-content: center;
    }


    header .logo{
        width: 100%;
        padding: 40px 0px;
    }
    header .logo img{
        width:120px;
    }


    header nav{
        width: 100%;
    }
    header nav ul{
        width: 100%;
        flex-direction: column;
    }
    header nav ul li a{
        padding: 30px 0px;
        width: 100%;
        justify-content: center;
    }




    /*BANNER*/
    .banner .banner-area{
        margin-top: 30px;
        width: 90%;
    }

    .banner .banner-area h1,
    .banner .banner-area h1 span{
        font-size: 35px;
    }
    .banner .banner-area span{
        font-size: 16px;

    }
    .banner .banner-area h2{
        font-size: 24px;
    }




    /*SOBRE*/
    .sobre .sobre-content{
        grid-template-columns: 1fr;
        padding: 0px 20px;
        padding-top: 50px;
    }


    .sobre .sobre-title h2{
        text-align: center;
        padding: 0px 20px;
        font-size: 25px;
    }


    .sobre .sobre-left-side h3{
        text-align: center;
        font-size: 25px;
    }
    .sobre .title-bar{
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }

    .sobre .sobre-right-side{
        padding: 0px;
    }

    .sobre .sobre-right-side .image-area{
        width: 250px;
    }
    .sobre .sobre-right-side .image-area img{
        width: 250px;
        height: auto;
        transform: translate(15px, -15px);
    }

    
    
    
    /*PROJETOS*/

    .projetos .projetos-title span{
        font-size: 18px;
        padding: 0px 20px;
    }
    .projetos .projetos-title h2{
        font-size: 30px;
    }

    .projetos .projetos-area{
        height: auto;
        padding: 0px;
    }

    .projetos .slide-content{
        grid-template-columns: 1fr;
        margin: 30px 0px;
    }

    
    .projetos .slide-content-left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projetos .slide-content-left h3{
        text-align: center;
    }
    .projetos .slide-content-left .slide-barra{
        width: 50%;
    }
    .projetos .slide-content-left .botao{
        width: 80%;
    }


    .projetos .slide-content-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projetos .slide-content-right h3{
        text-align: center;
    }
    .projetos .slide-content-right .slide-barra{
        width: 50%;
    }
    .projetos .slide-content-right .detalhes-tec{
        justify-content: center;
    }


    .projetos .slide-1{
        background: url(../images/projetos/bg-optica-mobile.jpg);
        background-size: cover;
        background-position: center center; 
    }
}
