@media (min-width:500px) and (max-width:920px) {
  .widget-title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  
  

  header,
  header nav{
    height: auto;
  }

  header nav {
    padding-top: 20px;
  }
  header nav ul{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  header nav ul li{
    width: 100%;
    margin: 5px 0px;
  }

  header nav ul li:nth-child(5) {
    margin-top: 30px;
  }

  header nav ul li:nth-child(5) a{
    margin-left: 0px;
  }


  header .header-content{
    margin-top: 10px;
  }

  header .header-content h1,
  header .header-content h1 span{
    font-size: 45px;
    line-height: 55px;
    margin-top: 30px;
  }

  header .header-content img{
    width: 500px;
  }




/*SOBRE*/

  #sobre .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #sobre .widget-content{
    flex-direction: column;
  }

  #sobre .lado-esq{
    margin-bottom: 60px;
    align-items: center;
  }

  #sobre .lado-dir{
    justify-content: center;
  }

  #sobre .img-area{
    width: 250px;
    height: 250px;
  }




  /*PROJETOS*/

  #projetos{
    padding-top: 150px;
  }

  #projetos .widget-title{
    padding-bottom:80px;
  }

  #projetos .projetos-area{
    grid-template-columns: 1fr;
    padding: 0px;
    gap: 6px;
  }

  #projetos .projeto{
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
  }
  
  #projetos .projeto:nth-child(1) .projeto-content{
    opacity: 1;
  }




  /*HABILIDADES*/

  #hab .hab-area{
    grid-template-columns: repeat(1, 250px );
  }




  /*FOOTER*/

  footer .widget-content{
    flex-direction: column;
  }

  footer .social-area{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .social-area h3{
    font-size: 18px;
    text-align: center;
  }

  footer .contato-area{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .contato-area h3{
    font-size: 18px;
    text-align: center;
  }
  footer .contato-item{
    width: 350px;
  }
}









@media (max-width:499px){
  header,
  header nav{
    height: auto;
  }

  header nav {
    padding-top: 0px;
  }

  header nav ul{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  header nav ul li{
    width: 100%;
    margin: 5px 0px;
  }

  header nav ul li:nth-child(5) {
    margin-top: 30px;
  }

  header nav ul li:nth-child(5) a{
    margin-left: 0px;
  }

  header .header-content{
    margin-top: 20px;
  }

  header .header-content h1,
  header .header-content h1 span{
    font-size:40px;
    line-height: 50px;
  }

  header .header-content h2{
    font-size: 20px;
  }
  header .header-content p{
    font-size: 16px;
  }
  header .header-content img{
    width: 300px;
  }

  


/*SOBRE*/

  #sobre .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #sobre .widget-content{
    flex-direction: column;
  }

  #sobre .lado-esq{
    margin-bottom: 60px;
  }


  #sobre .lado-dir{
    justify-content: center;
  }
  #sobre .img-area{
    width: 250px;
    height: 250px;
  }
  #sobre .img-area img:hover{
      
      transform: translate(-15px, -15px);
  }




  /*PROJETOS*/

  #projetos .container{
    padding: 0px;
  }

  #projetos .widget-title{
    padding-left: 15px;
  }

  #projetos .projetos-area{
    grid-template-columns: 1fr;
    padding: 0px;
    gap: 6px;
  }

  #projetos .projeto{
    margin: auto;
    margin-bottom: 20px;
    width: 92%;
  }
  
  #projetos .projeto:nth-child(1) .projeto-content{
    opacity: 1;
  }




  /*HABILIDADES*/

  #hab .hab-area{
    grid-template-columns: repeat(1, 250px );
  }




  /*FOOTER*/
  footer{
    padding: 40px;
  }

  footer .widget-content{
    flex-direction: column;
    padding-bottom: 20px;
  }

  footer .social-area{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .social-area h3{
    font-size: 18px;
    text-align: center;
  }

  footer .contato-area{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .contato-area h3{
    font-size: 18px;
    text-align: center;
  }
  footer .contato-item{
    width: 280px;
  }
}
