/*PRE-SETS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --preto:#020202;
    --cinza-escuro:#1c1c1c;
    --branco:#ffffff;
    --azul:#00E0FF;
    --roxo: #9D00FF;
    --magenta: #FF006E;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color:var(--preto);
    font-size: 18px;
    font-family: "Roboto";
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: auto;
}
@keyframes barra-cores {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}









/*HEADER*/
header{
    background-color: var(--preto);
}
header .container{
    height: 80px;
    display: flex;
}


header .logo{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo img{ 
    width: 65px;
}


header .menu{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}
header .menu ul {
    display: flex;
    height: 100%;
}

header .menu ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 30px;
    color: var(--branco);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 4px;
}


header .menu-efeito{
    transition: all ease 1s;
}
header  .menu-efeito:hover {
    background: linear-gradient(to right, #00E0FF, #9D00FF, #FF006E); /* Gradiente no texto */
    background-size: 300% 300%;
    background-clip: text;
    animation: barra-cores 4s ease infinite; /* Animação contínua */
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
}


header .contato{
    position: relative;
    overflow: hidden; /* Evita que o gradiente extrapole */
    z-index: 1;
}
header .contato::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00E0FF, #9D00FF, #FF006E);
    background-size: 300% 300%;
    z-index: -1; /* Mantém o gradiente atrás do texto */
    animation: barra-cores 4s ease infinite; /* Animação contínua */
}









/*BANNER*/
.banner{
    height: calc(100vh - 80px);
    background: url(../images/bg.png);
    background-size: cover;
    background-position:center right;
}
.banner .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-infos{
    width: 80%;
    height: auto;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}


.banner .banner-infos h1,
.banner .banner-infos h1 span{
    font-size: 45px;
    font-family: "Playfair Display";
    text-align: center;
    font-weight: 600;
    letter-spacing:8px;
}


.banner .banner-infos h1{
    color: var(--branco);
    margin-bottom: 50px;
}


.banner span,
.banner .banner-infos h1 span{
    background: linear-gradient(to right, #00E0FF, #9D00FF, #FF006E);
    background-size: 300% 300%;
    background-clip: text;
    animation: barra-cores 4s ease infinite; /* Animação contínua */
    color: transparent;
}
.banner span{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}


.banner .banner-infos h2{
    color: var(--branco);
    font-size: 30px;
    font-family: "Playfair Display";
    text-align: center;
    font-weight: 600;
    letter-spacing:8px;
    margin-bottom: 50px;
}


.banner .banner-infos P{
    color: var(--branco);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    font-family:"Playfair Display"; ;
    word-spacing: 1px;
    letter-spacing: 2px;
    line-height: 25px;

}