/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*VARIAVEIS*/

:root{
    --preto:#0f0f0f;
    --branco: #ffffff;
    --cor-texto:#292929;
    --primario: #190c3b;
    --secundario: #D5A021;
    --primario-tranparente-: rgba(25, 12, 59, 0.8);
    --primario-tranparente-2: rgba(95, 76, 136, 0.8);
}








/*PRESETS INICIAIS*/

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--cor-texto);
    font-family: "Roboto";
    text-decoration: none;
    list-style: none;
}

.container{
    margin: auto;
    width: 100%;
    max-width: 1280px;
}









/*WIDGET*/

.widget-title{
    margin: 30px 0px;
    padding: 5px;
}

.widget-title span{
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    color: var(--cor-texto);
    text-transform: uppercase;
}










/*FADE EFFECTS*/

@keyframes fade-top {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    
    50%{
        
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(00px);
    }
}

@keyframes fade-bottom {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    
    50%{
        
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(00px);
    }
}

@keyframes fade-left {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    
    50%{
        
        opacity: 0;
        transform: translateX(-25px);
    }
    100%{
        opacity: 1;
        transform: translateX(00px);
    }
}

@keyframes fade-right {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    
    50%{
        
        opacity: 0;
        transform: translateX(25px);
    }
    100%{
        opacity: 1;
        transform: translateX(00px);
    }
}









/*HEADER*/
header{
    height: 100vh;
    background: linear-gradient(var(--primario-tranparente-), var(--primario-tranparente-2) , var(--branco));
}

header video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
    max-height: 100%;
}

header .container{
    display: flex;
    height: 100%;
    flex-direction: column;
}

header nav{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    animation: fade-top linear 1.6s forwards;
}
header nav ul{
    display: flex;
    height: 100%;
    align-items: center;

}
header nav li a{
    display: inline-block;
    line-height: 40px;
    padding: 5px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--branco);
    border-bottom: 1px solid transparent;
    transition: all linear 0.5s;
}
header nav li a:hover{
    border-color: var(--secundario);
}
header nav li:nth-child(5) a{
    margin-left: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: var(--secundario);
}
header nav li:nth-child(5) a:hover{
    background-color: transparent;
    border-color: var(--secundario);
}

header .header-content{
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .header-content h1,
header .header-content h1 span{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 500;
    color: var(--branco);
    line-height: 80px;
    text-align: center;
    animation: fade-left linear 1.6s forwards;
}
header .header-content h1 span{
    color: var(--secundario);
    text-transform: uppercase;
    animation: fade-lef linear 1.6s forwards;
}

header .header-content img{
    width:700px;
    animation: fade-bottom linear 1.6s forwards;
}









/*SOBRE*/

#sobre{
    background-color: var(--branco);
}

#sobre .container{
    padding: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#sobre .widget-content{
    display: flex;
}

#sobre .lado-esq{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#sobre .lado-esq h2 {
    font-size: 30px;
    max-width: 400px;
    margin-bottom: 50px;
    padding: 15px 0px;
    padding-left: 15px;
    border-left: 2px solid var(--primario);
    margin-bottom: 50px;
}
#sobre .lado-esq p,
#sobre .lado-esq a{
    margin-left: 15px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 550px;
    font-size: 16px;
}

#sobre .lado-esq a{
    font-weight: 500;
}

#sobre .lado-dir{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#sobre .img-area{
    background-color: var(--primario);
    width: 270px;
    display: flex;
    justify-content: center;
    transition: all linear 0.4s;
}
#sobre .img-area:hover{
    background-color: var(--secundario);
}

#sobre .img-area img{
    transform: translate(-25px, -25px);
    width: 100%;
    background-color: green;
    transition: all linear 0.4s;
    cursor: pointer;
}
#sobre .img-area img:hover{
    
    transform: translate(-35px, -35px);
}









/*HABILIDADES*/

#projetos{
    padding: 80px 0px;
    background-color: var(--branco);
}

#projetos .widget-title span{
    color: var(--cor-texto);
    padding: 10px;
}

#projetos .projetos-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 50px 20px;
    justify-content: center;
    background-color: var(--primario);
    border-radius: 10px;
}

#projetos .projeto{
    height: 400px;
    background-color: rgb(179, 179, 179);
}
#projetos .projeto-content{
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all linear 0.5s;
}
#projetos .projeto-content:hover{
    opacity: 1;
}

#projetos .projeto-content h3{
    font-size: 20px;
    color: var(--branco);
    margin-bottom: 25px;
    font-weight: 500;
}
#projetos .projeto-content h3::before{
    content: "Projeto: ";
    font-size: 22px;
    letter-spacing: 1px;
}

#projetos .projeto-content p{
    font-size: 14px;
    color: var(--branco);
    max-width: 500px;
    margin-bottom: 20px;
    line-height: 22px;
}

#projetos .projeto-content a{
    display: inline-block;
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid var(--secundario);
    color: var(--branco);
    transition: all linear 0.2s;
}

#projetos .projeto-content a:hover{
    transform: scale(1.04);
}

/*PROJETOS BACKGROUNDS*/
#projetos .projeto:nth-child(1){
    background: url(../midia/projetos/bg-optica.jpg);
    background-size: cover;
    background-position: center;
}

#projetos .projeto:nth-child(2){
    background: url();
    background-size: cover;
    background-position: center;
}